<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="netor.me">
      <package pattern="Netor.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
